.regist {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  
    .regist-container {
      width: 440px;
      height: 420px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 0 50px rgb(0 0 0 / 10%);
    }
  
    .regist-checkbox-label {
      color: #1890ff;
    }
  }